.container {
  margin-left: 2.5%;
  background-image: url(/background_home.png);
  background-color: black;
  background-size: cover;
  height: 80vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 5px solid black;
  border-bottom: 8px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.btn {
  outline: none;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
