.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.pokemon-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #dcd441;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(141, 31, 31, 0.2);
}

.pokemon-option:hover {
  transform: scale(1.05);
}

.pokeOptPic {
  height: 6rem;
  width: auto;
  margin-bottom: 0.5rem;
}

.SelectPokeBut {
  padding: 10px 20px;
  background-color: #4370709b;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.PokemonDisplays {
  margin-top: 0;
  margin: 5rem 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.hp-bar {
  transition: width 1s ease;
  height: 20px;
  background-color: green;
  border-radius: 5px;
}

.pokemon > img {
  height: 50rem;
  width: auto;
}

.battle-screen {
  height: 85vh;
  margin: 5rem 5rem 0 5rem;
  background-color: #ddd;
  padding: 1rem;
  border-left: solid 10px black;
  border-right: solid 10px black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

.LogicDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #dddddd3b;
  padding: 1rem;
  margin: 0 5rem;
  border: solid 1px black;
}
.ActionContainer {
  width: 20%;
  align-self: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  margin: 0 1rem 0 0; 
}

.ActionButtons {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #4370709b;
}
.BattleMessage {
  flex: 1;
  text-align: center; 
  font-size: 3rem;
}

.TryagainButton {
  background: none;
  border: none;
}

.endImg {
  height: 25rem;
  width: auto;
}
.endImgT {
  height: 15rem;
  width: auto;
}

.pokemon-win-screen {
  height: 85vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 5rem 0 5rem;
  background-color: #ddd;
  padding: 1rem;
  border-left: solid 10px black;
  border-right: solid 10px black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

.pokemon-lose-screen {
  height: 85vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 5rem 5rem 0 5rem;
  background-color: #ddd;
  padding: 1rem;
  border-left: solid 10px black;
  border-right: solid 10px black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}
#UserPokehealth {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

#UserPokehealth::-webkit-progress-bar {
  background-color: #ddd;
}

#UserPokehealth::-webkit-progress-value {
  background-color: green;
}

#OpponentPokehealth {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

#OpponentPokehealth::-webkit-progress-bar {
  background-color: #ddd;
}

#OpponentPokehealth::-webkit-progress-value {
  background-color: red;
}

.pokemon {
  transition: margin-left 0.5s ease-in-out;
}

.attack-animation {
  margin-left: 50px; /
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.pokemon-attacking {
  animation: shake 0.8s; 
  animation-iteration-count: 1; 
}

.LoadingDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh;
}
